@page
@model Alquizar_LabAct1.Pages.BusinessModel
@{
    ViewData["Title"] = "Business";
}

<div class="tech-center">
    <h2 class="pt-4">Latest in Business</h2>

    <img class="p-4 mx-auto" src="/images/7WW76ESE3NIETFXN6IZGPG6K7Y.jpg" alt="Tech News Image" style="width: 50%; height: auto;" />

    <h3 class="">Trump stretches trade law boundaries with Canada, Mexico, China tariffs</h3>
    <p> Experts say the 1977 International Emergency Economic Powers Act is untested for imposing import tariffs and Trump's action will likely face swift court challenges that could set important precedents.</p>
</div>

