@page
@model Alquizar_LabAct1.Pages.EntertainmentModel

@{
    ViewData["Title"] = "Entertainment";
}

<div class="tech-center">
    <h2 class="pt-4">Latest in Entertainment</h2>

    <img class="p-4 mx-auto" src="/images/2021-03-14T153719Z_1_LYNXMPEH2D0BT_RTROPTP_4_AWARDS-GRAMMYS-NOMINATIONS-LIST.jpg" alt="Tech News Image" style="width: 50%; height: auto;" />
    
    <h3 class="">Grammys 2025: Five things to watch out for</h3>
    <p>
        It’s a baffling irony that the culture-shifting Beyonce has won more Grammys than anyone, ever, but has yet to attain the holy grail — that is, winning Album of the Year.

        At the 67th edition of music’s top awards ceremony, the megastar has yet another chance to take home the prize but in a packed field of no-skips albums, who will ultimately win the night’s top trophies is anyone’s guess.
        
    </p>
    </div>
