@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME TO ACT NEWS SITE</h1>
    <h3>
        Today, we will be taking about the hottest news around the world.
    </h3>
</div>
        <div class="justify-content-between">
            <div class="">
                <div class="pt-4">
                    <h3>
                        Technology
                    </h3>
                </div>
                <div class="w-auto h-auto px-5">
                    <img src="images/artificial-intelligence-ai-business-people-showing-future-technology-photo.jpg" width="300px"/>
                </div>
                <a asp-area="" asp-page="/Technology">READ HERE ></a>
            </div>
            <div class="">
                <div class="pt-4">
                    <h3>
                        Sports
                    </h3>
                </div>
                <div class="w-auto h-auto px-5">
                    <<img src="images/paris.jpeg" alt="Technology" width="300px"></img>
                </div>
                <a asp-area="" asp-page="/Sports">READ HERE ></a>
            </div>
            <div class="">
                <div class="pt-4">
                    <h3>
                        Business
                    </h3>
                </div>
                <div class="w-auto h-auto px-5">
                    <img src="images/7WW76ESE3NIETFXN6IZGPG6K7Y.jpg" alt="Technology" width="300px"></img>
                </div>
                <a asp-area="" asp-page="/Business">READ HERE ></a>
            </div>
            <div class="">
                <div class="pt-4">
                    <h3>
                        Entertainment
                    </h3>
                </div>
                <div class="w-auto h-auto px-5">
                    <img src="images/2021-03-14T153719Z_1_LYNXMPEH2D0BT_RTROPTP_4_AWARDS-GRAMMYS-NOMINATIONS-LIST.jpg" alt="Technology" width="300px"></img>
                </div>
                <a asp-area="" asp-page="/Entertainment">READ HERE ></a>
            </div>
        </div>

    