@page
@model Alquizar_LabAct1.Pages.SportsModel

<div class="tech-center">
    <h2 class="pt-4">Latest in Sports</h2>

    <img class="p-4 mx-auto" src="/images/images.jpeg" alt="Tech News Image" style="width: 50%; height: auto;" />

    <h3 class="">2024 Paris Olympic</h3>
    <p>Artificial intelligence (AI) continues to reshape the tech landscape, with major companies investing billions in new AI tools. This year alone, tech giants have unveiled groundbreaking innovations aimed at improving efficiency...</p>
</div>