@page
@model Alquizar_LabAct1.Pages.SportsModel

<div class="tech-center">
    <h2 class="pt-4">Latest in Sports</h2>

    <img class="p-4 mx-auto" src="/images/paris.jpeg" alt="Tech News Image" style="width: 50%; height: auto;" />

    <h3 class="">2024 Paris Olympic</h3>
    <p> The highly anticipated Paris 2024 Summer Olympics are just around the corner, set to kick off on July 26, 2024. The French capital will host over 10,000 athletes from 206 nations, competing in 32 sports across iconic venues like Stade de France and Champs-Élysées. This marks Paris' third time hosting the Games, with sustainability and innovation at the heart of the event. The city promises an unforgettable experience with a focus on eco-friendly practices and new sports like surfing, skateboarding, and breakdancing debuting on the Olympic stage. The world is watching as Paris prepares to shine!</p>
</div>